fastapi
sqlalchemy
python-multipart
passlib[bcrypt]
python-jose[cryptography]
Jinja2
email-validator
psycopg2-binary
python-dotenv
pydantic-settings
SendGrid
twilio
pytest
pytest-asyncio
httpx
uvicorn
gunicorn
