<p>{{ _('Dear %s,') % owner.name }}</p>
<p>{{ _('You have a new booking!') }}</p>
<p>{{ _('Service:') }} {{ booking.service_name }}</p>
<p>{{ _('Date:') }} {{ booking.booking_date.strftime('%Y-%m-%d') }}</p>
<p>{{ _('Time:') }} {{ booking.booking_time }}</p>
<p>{{ _('Customer Name:') }} {{ booking.customer_name }}</p>
<p>{{ _('Customer Email:') }} {{ booking.customer_email }}</p>
{% if booking.customer_phone %}<p>{{ _('Customer Phone:') }} {{ booking.customer_phone }}</p>{% endif %}
<p>{{ _('Please check your dashboard for more details.') }}</p>
